<%= link_to "Lions", lions_path %>

<h1>Lion Detail</h1>

<h3>Hello, sir or madam! My name is <%= @lion.name %>!!!!!!!</h3>

<p>I am a <%= @lion.gender %>.</p>

<p>I am <%= @lion.color %>.</p>

<p>My owner's name is <%= @lion.american.name %>.</p>